---
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/note">笔记本</a>
    <h1>Astro</h1>
    <p>基于 Typst 的笔记模板（孩子不会前端，做着玩的x），支持 md 和 typ 两种格式</p>
    <p>文件添加在 src/docs 下，以文件夹分类，每个文件夹内可以有多个文件</p>
    <p>没有使用 Astro 原有的 content 内容集合和 pages 内自动静态路由（也就是能够兼容）</p>
  </body>
</html>
